<div class="container">
  <div class="row">
    <h1>All Topics</h1>
      <% @topics.each do |topic| %>
        <h3><%= link_to "#{topic.title}", topic %></h3>
      <% end %>
      <% if current_user %>
      <%= link_to "My Topics", topics_my_topics_path, class: 'btn btn-info' %>  <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
      <% end %>
      <br />
  </div>
</div>