<div class="container">
  <div class="row">
    <h1>Topics</h1>
      <% @topics.each do |topic| %>
        <%= link_to "#{topic.title}", topic %><br />
      <% end %>
      <br \>
      <% if current_user %>
        <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
      <% end %>
  </div>
</div>