<div class="container">
  <h1>About Blocmark</h1>
  <div class="jumbotron">
    <div class="row">
      <h2>Created by: <a href="http://morganriffer.com">Morgan Riffer</a></h2>
    </div>
  </div>
</div>