<div class="container">
  <div class="row">
    <h1>Frequently Asked Questions</h1>
      <ol>
        <h3><li>I cannot login</li></h3>
        <p>I did not receive a confirmation email.  
          <%= link_to "Resend Email", new_user_confirmation_path %></p>
        <p>I forgot my password
          <%= link_to "Reset Password", new_user_password_path %></p>
        <h3><li>I want to change my user information</li></h3>
        <p><%= link_to "User Profile", edit_user_registration_path %></p>
      </ol>
  </div>
</div>