@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import "bootswatch/lumen/variables";
@import "bootstrap";
@import "bootswatch/lumen/bootswatch";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  margin-bottom: 20px;
}

.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}